.body {
    font-family: 'Ubuntu', sans-serif;
}

#cards{
    padding: 5% 10%
}

#features {
    padding: 7% 10%;
    text-align: center;

}

#cars {
    margin-left: 50px;
    padding: 7% 5%
}


h3{
    font-weight: bold;
}

.icon{
    margin-bottom: 1rem;
    color:rgb(81, 115, 209)
}
.icon:hover{
    color: darkblue;
}

#Table{
    padding: 1% 10%;
}

.table{
    background-color: rgb(246, 246, 246);
}

